.profile-form,
.address-edit-cont {
  background-color: $white;
  padding: 25px;
  border-radius: 10px;
  width: 100%;
  max-width: 557px;
  overflow: hidden;
  .form-input {
    padding: 0 20px;
  }
  .form-btn-cont {
    margin-bottom: 0;
    margin-top: 30px;
  }
  .form-btn {
    max-width: 207px;
  }
}
.address-edit-cont {
  max-width: 580px;
}
.add-ancor {
  max-width: 250px;
  margin-bottom: 20px;
}
.address-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 15px;
  background-color: $white;
  border-radius: 10px;
  padding: 15px 20px;
  margin-bottom: 15px;
  @include max-767 {
    flex-direction: column;
    align-items: flex-start;
  }
}
.address-head {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-bottom: 10px;
  font-weight: 600;
  font-size: 16px;
  color: $main;
}
.address-desc {
  font-weight: 300;
  font-size: 14px;
  color: #353535;
}
.address-control {
  display: flex;
  align-items: center;
  justify-content: center;
  @include max-767 {
    width: 100%;
  }
  gap: 12px;
  a,
  button,
  .address-edit,
  .address-delete {
    height: 40px;
    width: 124px;
    font-weight: 300;
    font-size: 14px;
    border: none;
    outline: none;
    border-radius: 12px;
    @include tr;
    @include flexCenter;
  }
}
.address-edit {
  color: $main;
  background-color: #f2f4ff;
  &:hover {
    background-color: $main;
    color: $white;
  }
}
.address-delete {
  color: #d72238;
  background-color: rgba($color: #ff6678, $alpha: 0.2);
  &:hover {
    background-color: #ff6678;
    color: $white;
  }
}
.address-setting {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 12px;
  @include max-991 {
    grid-template-columns: 1fr;
  }
  .form-group {
    margin-bottom: 0;
  }
  .form-group {
    input[type="number"] {
      html[dir="rtl"] & {
        direction: rtl;
      }
    }
  }
}
.full-grid {
  grid-column: 1/-1;
}
.location-btn {
  background-color: transparent;
  border: none;
  outline: none;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  inset-inline-end: 20px;
}
.account-cont {
  .items-grid {
    padding-top: 0;
  }
}
.content-container {
  text-align: center;
  padding-bottom: 40px;
  img {
    margin-bottom: 20px;
  }
}
.content-title {
  font-weight: 400;
  font-size: 24px;
  color: $hover;
  margin-bottom: 20px;
}
.content-pargh {
  font-weight: 300;
  font-size: 16px;
  line-height: 28px;
  color: #292929;
  margin-bottom: 0;
}
.contact-pargh {
  font-weight: 600;
  font-size: 18px;
  color: $main;
  margin-bottom: 24px;
  text-align: center;
}
.contact-container {
  background-color: $white;
  border-radius: 10px;
  padding: 25px 20px;
  max-width: 530px;
  margin: 0 auto;
  .form-input {
    padding: 0 20px;
  }
  textarea.form-input {
    padding: 10px 20px;
  }
  .form-btn-cont {
    margin-bottom: 20px;
  }
}
.form-label {
  font-weight: 400;
  font-size: 14px;
  color: #292929;
  margin-bottom: 10px;
}
input[type="email"].form-input::placeholder {
  text-align: right;
}
.contact-text {
  text-align: center;
  font-weight: 400;
  font-size: 14px;
  color: #878787;
  margin-bottom: 20px;
  display: flex;
  align-items: center;
  white-space: nowrap;
  gap: 8px;
  &::after,
  &::before {
    content: "";
    width: 100%;
    height: 1px;
    background-color: #878787;
  }
}
.contact-ancor {
  @include flexCenter;
  gap: 7px;
  color: $main;
  font-weight: 500;
  font-size: 14px;
  background-color: #f9f9f9;
  border: none;
  outline: none;
  border-radius: 10px;
  height: 48px;
  width: 100%;
  @include tr;
  &:hover {
    background-color: $main;
    color: $white;
    img {
      filter: brightness(0) saturate(100%) invert(100%) sepia(3%)
        saturate(7488%) hue-rotate(322deg) brightness(120%) contrast(101%);
    }
  }
}
